<div class='newFiller'></div>
<h1 id="theBigg">ENVIRONMENT</h1>
<div class="bigPic">
	<h2>Striking Photos Show The People v. Climate Change</h2>
	<p>The Your Shot community shared their best photos in response to our #MyClimateAction challenge- see editors weekly top picks here</p>
</div>
<div class="wrapDay">
	<div id="firstBox">
		<ul class="hermitStry"></ul>
		<h3>Why the North Pond Hermit Hid From People for 27 Years</h3>
		<p>CHristopher Knight did not have a conversation with another person for almost three decades-but he...</p>
	</div>
	<div id="secondBox">
		<ul class="lionStry"></ul>
		<h3>Watch: This Is What Happens When a Lion Steals a GoPro</h3>
		<p>Striaght from the lion's mouth: a planted camera gives us a toothy perspective on Africa's biggest cat</p>
	</div>
	<div id="thirdBox">
		<ul class="spiderStry"></ul>
		<h3>New Spiderlike Crab Species Found</h3>
		<p>The species was first spotted by an indigenous tribe in south India's lust forests.</p>
	</div>
</div>
<div class="newFiller"></div>
<div class="seriesWrap">
	<div class="containSeries">
		<h3>THE 101 SERIES</h3>
		<p>Explore and experience the forces that shape the world around us
			<e>SEE MORE</e>
		</p>
		<div id="newVid">
			<iframe ng-show="stream1" width="560" height="315" src="https://www.youtube.com/embed/EtW2rrLHs08" frameborder="0" allowfullscreen></iframe>
			<iframe ng-show="stream2" width="560" height="315" src="https://www.youtube.com/embed/Wq9kLzm36h0" frameborder="0" allowfullscreen></iframe>
			<iframe ng-show="stream3" width="560" height="315" src="https://www.youtube.com/embed/NwCyN3ZYxKc" frameborder="0" allowfullscreen></iframe>
			<iframe ng-show="stream4" width="560" height="315" src="https://www.youtube.com/embed/zP4rgvu4xDE" frameborder="0" allowfullscreen></iframe>
			<iframe ng-show="stream5" width="560" height="315" src="https://www.youtube.com/embed/iMWoYPaQx0Q" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="scrollVid" style="overflow-y:scroll">
			<ul ng-click="showStream1()">
				<e id="uno"></e>
				<div  class="squareAlign">Climate Change 101 with Bill Nye</div>
			</ul>
			<ul ng-click="showStream2()">
				<e id="does"></e>
				<div  class="squareAlign">Continental Drift 101</div>
			</ul>
			<ul ng-click="showStream3()">
				<e id="tres"></e>
				<div  class="squareAlign">Weather 101</div>
			</ul>
			<ul ng-click="showStream4()">
				<e id="quatro"></e>
				<div  class="squareAlign">Hurricanes 101</div>
			</ul>
			<ul ng-click="showStream5()">
				<e id="cinco"></e>
				<div  class="squareAlign">Tornadoes 101</div>
			</ul>
		</div>
		<h4>Climate Change 101 With Bill Nye</h4>
		<p id="changeInfo">Climate Change is a real and serious issue. In this video Bill Nye, the Science Guy, explains what causes climate change, how it affects our planet, why we need to act promptly to mitigate its effects, and how each of us can contribute to a solution</p>
	</div>
</div>

<div class="newFiller"></div>

<div class="magCase">
	<h1 class="magTitle">FROM THE MAGAZINE</h1>
	<ul id="seeMore">SEE MORE</ul>

	<div class="wrapDay1">
		<div id="firstBox">
			<ul class="scotStry"></ul>
			<h3>What Will Become of Scotlands Moors?</h3>
			<p>The future of the nations signature landscape is murky amid debtaes over class, culture, and nature.</p>
		</div>
		<div id="secondBox">
			<ul class="powderStry"></ul>
			<h3>Ancient Egyptian Powder Makes Fingerprints Glow</h3>
			<p>To dust for prints at a crime scene, investigators usa a pigment as old as the pharaohs</p>
		</div>
		<div id="thirdBox">
			<ul class="waterStry"></ul>
			<h3>Meet the Woman Who Dives in Our Drinking Water</h3>
			<p>Jennifer Adler wants kids to appreciate their water</p>
		</div>
	</div>
</div>

<div class="newFiller1">
	<div id="lastAd"></div>
</div>

<div class="yearsCase">
	<h1 class="magTitle">'YEARS OF LIVING DANGEROUSLY'</h1>
	<ul id="seeMore">MORE FROM THE CHANNEL</ul>
	<div class="wrapDay2">
		<div id="firstBox">
			<ul class="cheadleStry"></ul>
			<h3>Don Cheadle Visits Central Valley</h3>
			<p>Don Cheadle travels to California's Central Valley to learn how climate change is contributing to the drought in the region.</p>
		</div>
		<div id="secondBox">
			<ul class="migrantStry"></ul>
			<h3>Climate Change and the Migrant Crisis</h3>
			<p>Tom Friedman travels from France to Niger, following the trail of migrants and unraveling how climate change is driving poeple to leave their homes</p>
		</div>
	</div>
</div>

<div class="newFiller"></div>

<div class="yourShot">

	<div class="casePics">
		<div id="pics1"></div>
		<div id="pics2"></div>
		<div id="pics3"></div>
		<div id="pics4"></div>
		<div id="titleShot">
			<h1><span id="natLogo"></span>YOUR<e>SHOT</e></h1>
			<span id="facebookIcon"></span>
			<span id="instaIcon"></span>
			<!-- <form action="/picture" method='post' enctype="multipart/form-data" > <input type="file" name='image'>
			<button type="submit">Submit</button></form> -->
			<div id="submitPhoto"><span></span><button type="button" data-toggle="modal" data-target="#myModal">Submit Your Shot</button>
			</div>
			<!-- Modal -->
			<div id="myModal" class="modal fade" role="dialog" ng-controller='mainCtrl'>
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Fill Out Info</h4>
						</div>
						<div class="modal-body">
							<form action="/climate" method="POST"  enctype="multipart/form-data" id="specBox">
							<span>Author</span><input type="text" name="author" ng-model='author'>
							<span>#Filter</span><input type="text" name="filter" ng-model='filter'>
							<span>Description</span> <input type="text" name="description" ng-model='comments'>


								<span id="caseLabel">
									<input type="file" name='image' class="inputfile" ng-model="filename">
									<label for="file" id="sleeve1">Choose a file</label>
								</span><button type="submit" id="submitButton">Submit</button>
							</form>
							<br>


							<button ng-click="add()" class="strayButton">Done</button>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>
			<div id="holdingCell2"><input type="text" placeholder="#climatechange">
				<div id="holdingButton2">
					<button ng-click="showDiv()"></button></div>
			</div>


		</div>
		<div id="pics5"></div>
		<div id="pics6"></div>
		<div id="pics7"></div>



	</div>

</div>


<div class="newFiller"></div>

<div class="generic" ng-show="contentPics">
<div class="gallery" ng-repeat="p in photos">
	<img ng-src="http://localhost:3001/photos/{{p.image_url}}"></img>
	<h3>{{p.author}}</h3>
	<h5>{{p.description}}</h5>
	<p>{{p.comments}}</p>
</div>
</div>

<div class="whiteSpace"></div>
<div class="direct">
	<div>
		<h5>THE MAGAZINE</h5>
		<p>Our iconic magazine is available in both print and digital editions.</p>
		<ul>Subscribe</ul>
	</div>
	<div>
		<h5 id="littleTitle1">THE STORE</h5>
	<p>Your online purchases help fund our nonprofit mission of research, education, conservation, and exploration.</p>
	<ul>Shop</ul>
</div>
	<div>
		<h5 id="littleTitle2">EXPEDITIONS</h5>
		<p>Travel the world on our guided wildlife safaris, expedition cruises, and more.</p>
		<ul id="miniLink1">Go on a Nat Geo Trip</ul>
	</div>
	<div>
		<h5 id="littleTitle3">NATIONAL GEOGRPAHIC SOCIETY</h5>
		<p>The National Geographic Society is a global nonprofit organization committed to exploring and protecting our planet.</p>
		<ul id="miniLink2">Learn More</ul>
	</div>
</div>
