<div id="relative">
	<div class="header">
		<span id="label">Autism Awareness Day</span>
		<ul id="title1">Watch This Autistc Artist Paint A Whole City</ul>
	</div>


	<div class="wrapper">
		<h1>NORTH KOREA</h1>
		<div id="articleShad">
			<div id="wrapCase">
				<div id="seeing">PHOTO GALLERY
					<e>+</e>
				</div>
			</div>
		</div>
		<div id="article1"></div>

		<div id="articleShad2">
			<div id="wrapCase">
				<div id="seeing1">PHOTO GALLERY
					<e>+</e>
				</div>
			</div>
		</div>
		<div id="article2"></div>
		<ul class="update">Candid Moments Shine Through In New North Korea</ul>
		<ul class="update2">12 Photos Show A Side Of North Korea You Havent Seen</ul>
	</div>
	<div class="filler"></div>

	<div class="mainPic">
		<div class="seeAll">SEE ALL
			<e>+</e>
		</div>
		<div id="wrapCase">
			<div class="photoDay">PHOTO OF THE DAY</div>
		</div>
	</div>
	<div class="topStories">
		<div class="topTitle">VIDEOS TO WATCH</div>
		<div class="column">
			<ul id="first">Watch: Extremely Rare Tigers Caught On Camera In Thailand</ul>
			<ul id="second">Watch a Badger Bury an Entire Cow (Never Before Seen)</ul>
			<ul id="third">Why Billions of Fish Are Luring Scientists to This River</ul>
			<ul id="fourth">Do You Touch This Nasty Object Every Day?</ul>
			<ul id="fourth">Do You Touch This Nasty Object Every Day?</ul>
		</div>
		<ul id="play"></ul>
	</div>
	<div class="filler"></div>

	<div id="news">
		<div class="skinny">
			<h1>MOST READ</h1>
			<div class="containList">
				<div id="first1">
					<h5>PICTURE STORIES</h5>
					<h3>The Country That Doesnt Exist</h3>
					<div id="firstPic">
						<p class="numba">1</p>
					</div>
				</div>
				<ul id="second1">
					<div class="covering">
						<h5 class="miniStart">GORY DETAILS</h5>
						<h3 class="regTitle">Cannibalism Study Finds People Are Not That Nutritious</h3>
					</div>
					<p class="numba">2</p>
				</ul>
				<ul id="third1">
					<div class="covering">
						<h5 class="miniStart">PICTURE STORIES</h5>
						<h3 class="regTitle">Rare Look Inside North Korea's Massive Military</h3>
					</div>
					<p class="numba">3</p>
				</ul>
				<ul id="fourth1">
					<div class="covering">
						<h5 class="miniStart">WEIRD & WILD</h5>
						<h3 class="regTitle">New Spider-Like, Tree-Climbing Crab Species Found</h3>
					</div>
					<p class="numba">4</p>
				</ul>
				<ul id="fifth1">
					<div class="covering">
						<h5 class="miniStart">WEIRD & WILD</h5>
						<h3 class="regTitle">Watch: This Is What Happens When a Lion Steals  a GoPro</h3>
					</div>
					<p class="numba">5</p>
				</ul>
				<ul id="sixth1">
					<div class="covering">
						<h5 class="miniStart">WEIRD & WILD</h5>
						<h3 class="regTitle">Watch: This Is What Happens When a Lion Steals  a GoPro</h3>
					</div>
					<p class="numba">6</p>
				</ul>


			</div>
		</div>
		<div class="fatty">
			<h1>LATEST STORIES</h1>
			<div class="containFat">
				<div class="fatPic"></div>
				<h3>Top 10 Most Endangered Rivers in the U.S.</h3>
				<div class="fatPic2"></div>
				<h3>Watch: Geese Attempt to Save Their Eggs From a Baboon Thief</h3>
				<div class="fatPic3"></div>
				<div class="fatPic4"></div>
				<div class="bottomTitle">
					<h4>These May Be the Deepest Traces of Life on Earth</h4>
					<h4>Explorers Enter Heart of Arica With Fat Bikes and Scuba Gear</h4>
				</div>

			</div>
		</div>


	</div>
	<div class="filler"></div>
	<div class="wrapper2"></div>
	<div class="wrapper3">
		<div id="box1"></div>
		<div id="box2"></div>
		<h7>RHINOS FOR SALE</h7>
		<div id="box3">EXPLORER</div>
	</div>
	<div class="filler"></div>
</div>
