<div class="adFiller">
	<div class="covering1">

	<div id= 'rotate'>
		<div id="devLogo"></div>
	</div>

<div id="addBox" ng-hide='addBox' >
	<button ng-click="addBox=true" >X</button>

</div>



</div></div>

<div class="ad">
	<div class ="theAd" >
	</div>
</div>

<div class="feed">



<h1>LATEST STORIES</h1>
<div>
<div class="mainArt"><img src="{{data[9].urlToImage}}" alt=""></div>
<h2>{{data[9].title}}</h2>
<p>{{data[9].description}}</p>


<div class="miniArt" ng-repeat='d in data'>
	<div class="miniWords">
		<ul>Weird & Wild</ul>
		<h4>{{d.title}}</h4>
		<p>{{d.description}}</p>
	</div>
	<div class="miniPic"><img src="{{d.urlToImage}}" alt=""></div>
</div>
</div>


<!-- <div class="miniArt"><div class="miniWords">
	<ul>Weird & Wild</ul>
	<h4>Striking Yellow-Black Rain Frog Found, Is Already Endangered</h4>
	<p>The rare amphibian lives in an overlooked region in Ecuador, scientists say.</p>
</div>
<div class="miniPic"></div>
</div>
<div class="miniArt"><div class="miniWords">
	<ul>Weird & Wild</ul>
	<h4>Striking Yellow-Black Rain Frog Found, Is Already Endangered</h4>
	<p>The rare amphibian lives in an overlooked region in Ecuador, scientists say.</p>
</div>
<div class="miniPic"></div>
</div>
<div class="miniArt"><div class="miniWords">
	<ul>Weird & Wild</ul>
	<h4>Striking Yellow-Black Rain Frog Found, Is Already Endangered</h4>
	<p>The rare amphibian lives in an overlooked region in Ecuador, scientists say.</p>
</div>
<div class="miniPic"></div>
</div> -->
<div class="showMore">SHOW MORE</div>
</div>
<div class="whiteSpace"></div>
<div class="direct">
	<div>
		<h5>THE MAGAZINE</h5>
		<p>Our iconic magazine is available in both print and digital editions.</p>
		<ul>Subscribe</ul>
	</div>
	<div>
		<h5 id="littleTitle1">THE STORE</h5>
	<p>Your online purchases help fund our nonprofit mission of research, education, conservation, and exploration.</p>
	<ul>Shop</ul>
</div>
	<div>
		<h5 id="littleTitle2">EXPEDITIONS</h5>
		<p>Travel the world on our guided wildlife safaris, expedition cruises, and more.</p>
		<ul id="miniLink1">Go on a Nat Geo Trip</ul>
	</div>
	<div>
		<h5 id="littleTitle3">NATIONAL GEOGRPAHIC SOCIETY</h5>
		<p>The National Geographic Society is a global nonprofit organization committed to exploring and protecting our planet.</p>
		<ul id="miniLink2">Learn More</ul>
	</div>
</div>
