<div class="adFiller">
	<div id="add2"></div>
</div>
<div class="adPhoto">
	<div class="theAdPhoto"></div>
</div>

<div class="feed2">
	<h1>Photo of the Day</h1>
<div class="mainArt"></div>
<div class="picInfo">
	<h5>APRIL 5, 2017</h5>
	<p><span id="starting">CLOSE ENCOUNTER</span> Your Shot photographer Matthew Smith photographed this stunning close-up of a newly hatched hawksbill turtle in the Bismarck Sea. He said, "Elders in the villages of Northern Papua New Guinea told me of the sad decline in numbers of these turtles, noticeable in their lifetime. A small project has been set up there on the island of Lissenung to educate locals about the vulnerability of these animals and to protect nests from poachers."</p>
	<h5>PHOTOGRAPH BY MATTHEW SMITH, NATIONAL GEOGRAPHIC YOUR SHOT</h5>
	<p id="btmMargin">This photo was submitted to , our storytelling community where photographers can take part in photo assignments, get expert feedback, be published, and more. Join now to submit your photos.</p>
</div>
<div class="commentBar">
	<span id="bubble"></span>
	<span id="comment">COMMENT</span>
</div>
</div>
<div class="adFiller"></div>
<h3 class="photoTitle">LATEST PHOTOGRAPHY STORIES</h3>
<div class="wrapDay">
	<div id="firstBox">
		<ul class="janPic"></ul>
		<h3>Photo of the Day: Best of January</h3>
		<p>Every day, we feature an image chosen from thousands submitted to our photo community Your Shot. Here are eight...</p>
	</div>
	<div id="secondBox">
		<ul class="decPic"></ul>
		<h3>Photo of the Day: Best of December</h3>
		<p>Every day, we feature an image chosen from thousands submitted to our photo community Your Shot. Here are eight...</p>
	</div>
	<div id="thirdBox">
		<ul class="bestPic"></ul>
		<h3>Best of Photo of the Day 2016</h3>
		<p>Every day, we feature an image chosen from thousands submitted to our photo community Your Shot. Here are eight...</p>
	</div>
</div>


<div class="whiteSpace"></div>

<div class="direct">
	<div>
		<h5>THE MAGAZINE</h5>
		<p>Our iconic magazine is available in both print and digital editions.</p>
		<ul>Subscribe</ul>
	</div>
	<div>
		<h5 id="littleTitle1">THE STORE</h5>
	<p>Your online purchases help fund our nonprofit mission of research, education, conservation, and exploration.</p>
	<ul>Shop</ul>
</div>
	<div>
		<h5 id="littleTitle2">EXPEDITIONS</h5>
		<p>Travel the world on our guided wildlife safaris, expedition cruises, and more.</p>
		<ul id="miniLink1">Go on a Nat Geo Trip</ul>
	</div>
	<div>
		<h5 id="littleTitle3">NATIONAL GEOGRPAHIC SOCIETY</h5>
		<p>The National Geographic Society is a global nonprofit organization committed to exploring and protecting our planet.</p>
		<ul id="miniLink2">Learn More</ul>
	</div>
</div>
