<div id="relative">
	<div class="header">
		<span id="label">Autism Awareness Day</span>
		<ul id="title1">Watch This Autistc Artist Paint A Whole City</ul>
	</div>

	<div class="filler"></div>

	<div class="wrapper">
		<h1>AUTISM</h1>
		<ul class=day1>Autism Awareness Day</ul>
		<ul class=miniHead1>Oxycotin Might Help With Autism</ul>
		<div id="article1">
		</div>
		<div id="article2"></div>
		<ul class="day2">Autism Awareness Day</ul>
		<ul class="miniHead">Inside Einstein's Love Affair with "Lina"</ul>
	</div>
	<div class="filler"></div>

	<div class="mainPic">
		<div class="photoDay">PHOTO OF THE DAY</div>

	</div>
	<div class="topStories">
		<div class="topTitle">VIDEOS TO WATCH</div>
		<div class="column">
			<ul id="first">Watch: Extremely Rare Tigers Caught On Camera In Thailand</ul>
			<ul id="second">Watch a Badger Bury an Entire Cow (Never Before Seen)</ul>
			<ul id="third">Why Billions of Fish Are Luring Scientists to This River</ul>
			<ul id="fourth">Do You Touch This Nasty Object Every Day?</ul>
			<ul id="fourth">Do You Touch This Nasty Object Every Day?</ul>
		</div>
		<ul id="play"></ul>
	</div>
	<div class="filler"></div>

	<div id="news">
		<div class='top5'>MOST READ</div>
		<div class='newest'>LATEST STORIES</div>
		<div class="contain">
			<ul id="first1">
				<span>The "Manhattan" Of The Desert</span>
			</ul>
			<ul id="second1"></ul>
			<ul id="third1"></ul>
			<ul id="fourth1">This Is The Best Look At A Tyrannosaurs Face</ul>
			<ul id="fifth1">Tomb Of Christ At Risk Of "Catastrophic" Collapse</ul>
			<ul id="sixth1">After Summiting Mount Everest, He Returned Home To Face His Demons</ul>
		</div>
	</div>
	<div class="filler"></div>
	<div class="wrapper2"></div>
	<div class="filler"></div>
	<div class="wrapper3">
		<div id="box1"></div>
		<div id="box2"></div>
		<h7>RHINOS FOR SALE</h7>
		<div id="box3">EXPLORER</div>
	</div>
	<div class="filler"></div>
