<div id="relative">
<div class="header">
	<span id="label">Ask Scientists</span>
<span id="Title" class="risk">The Truth?</span>
<span id="Title1">See Climate Change Happen In 7 Infographics</span>
<span id="miniTitle">CHECK IT OUT</span>
</div>
<div class="filler"></div>
<div class="wrapper">
	<h1>AUTISM</h1>
	<ul class=day1>Autism Awareness Day</ul>
	<div id="article1">
		<p id="pop1">Oxycotin-"The Love Hormone" Might Help With Autism</p>
	</div>
	<div id="article2"></div>
	<ul class="day2">Autism Awareness Day</ul>
		<ul class="miniHead">Inside Einstein's Love Affair with "Lina"</ul>
</div>
<div class="mainPic"></div>
</div>
