$primary-color: black;
$secondary-color: white;
$Nat-color: #FBD42C;
$full-screen: 100vw;
$border: solid thin grey;
$line: 16px;
$font-stack: 'Arimo', serif, 100;
$font-stack1: 'Didact Gothic', sans-serif, grey;

.bar {
	text-align: center;
	color: $secondary-color;
	font: 100% $font-stack;
	background-color: $primary-color;
	width: $full-screen;
	height: 42px;
	letter-spacing: 0.1em;

	div {
		height: 4vh;
		float: left;
		width: 16vw;
		border-right: $border;
		margin-top: $line;
		font-weight: 200;
		font: 100% $font-stack;
	}

	.middle {
		height: 4vh;
		width: 75vw;
		float: left;
		margin-top: $line;
		padding-left: 15px;
		border-right: $border;
		font-weight: 100;
		letter-spacing: .1em;
	}

	.right {
		height: 4vh;
		float: right;
		width: 7vw;
		margin-top: $line;
		font-weight: 100;
		margin-right: 25px;
		border: none;

	}

	span {
		float: right;
		padding-right: 15px;
		letter-spacing: 0.1em;
		font-family: 'Arimo';
		font-size: 85%;
	}

	.left {
		float: left;
		font-weight: 100;
	}
}

#realtive {
	position: relative;
}

.color {
	color: #FBD42C;
	font-size: 80%;
	font-family: 'Arimo';
	font-weight: bold;
	float: left;
}

.color1 {
	color: grey;
	font-size: 80%;
	font-family: 'Arimo';
	font-weight: bold;
}

.bar2 {
	width: $full-screen;
	height: 12vh;
	background-color: $secondary-color;
	padding-right: 0;

	div {
		float: left;
		padding-right: 6vw;
		margin-top: 5vh;
	}

	span {
		padding-right: 4vw;
		padding-left: 3vw;
		border-right: solid thin grey;
		font: "Didact Gothic",sans-serif,grey;
		font-weight: 400;
		color: darkgrey;
		font-size: 105%;
	}

	.link:hover {
		cursor: pointer;
		color: black;
	}
}

#buttn {
	float: right;
	margin-top: 0;
	padding-right: 0;

	.button {
		height: 13vh;
		width: 9vw;
		background-color: white;
		border: none;
		float: right;

		#telli {
			background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png");
			background-size: 35px 35px;
			background-repeat: no-repeat;
			width: 30px;
			margin-top: 20px;
		}

		#ham {
			background-image: url("https://rsna2016.rsna.org/images/hamburger-stale.png");
			background-size: 35px 35px;
			background-repeat: no-repeat;
			width: 35px;
			margin-top: 20px;
		}
	}
}
/*INDEX.HTML ENDS HERE*/
////////////////////////////

.header {
	height: 100vh;
	width: $full-screen;
	background-image: url("http://news.nationalgeographic.com/content/dam/news/2017/04/02/genius_camera/01_genius_camera.adapt.1900.1.jpg");
	float: left;
	vertical-align: bottom;
	color: #F7F6F4;
	position: relative;
	background-size: cover;
	font-family: 'Bitter', serif;
	padding-top: 60vh;
}

#label {
	bottom: 0;
	padding-left: 0;
	padding-right: 1vw;
	margin-left: 3vw;
	padding-top: 24vh;
	font-size: 120%;
	color: white;
	font-family: 'Bitter';
	// border-right: solid  #FBD42C;
	// border-left: solid #FBD42C;
	border-width: 1px;
	user-select: none;
	letter-spacing: 0.1em;
}

#title1 {
	font-size: 300%;
	padding-top: -1vh;
	padding-left: 3vw;
}

.filler {
	height: 7vh;
	background-color: white;
	width: $full-screen;
	float: left;
	position: relative;
}

.wrapper {
	background-color: White;
	height: 100vh;
	width: $full-screen;
	float: left;
	position: relative;
	text-align: center;

	h1 {
		position: absolute;
		color: #E6E6E6;
		font-family: 'Arimo';
		font-size: 749%;
		margin-left: 10vw;
		font-weight: 800;
		letter-spacing: 0.2em;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 14vh;
		width: 80vw;
		margin-top: -19px;
	}
}

#article1 {
	height: 60vh;
	width: 45vw;
	background-color: black;
	float: left;
	margin-top: 19vh;
	margin-left: 6vw;
	background-image: url("http://news.nationalgeographic.com/content/dam/news/2017/03/28/north-korea-ed-jones/01-north-korea-ed-jones.adapt.1190.1.jpg");
	background-size: cover;
	font-size: 160%;
	padding-left: 2vw;
	position: absolute;
}

#articleShad {
	position: relative;
    height: 59vh;
    width: 45vw;
    background-image: url(http://news.nationalgeographic.com/content/dam/news/2017/03/28/north-korea-ed-jones/02-north-korea-ed-jones.adapt.1190.1.jpg);
    float: left;
    margin-top: 12vh;
    margin-left: 9vw;
    background-size: cover;
    font-size: 160%;
    padding-left: 0vw;

	#wrapCase {
		height: 59vh;
    width: 45vw;
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.5),transparent);
		background: linear-gradient(to bottom, rgba(0,0,0,0.5),transparent);
	}
}
#seeing {
	color: white;
    font-family: 'Didact Gothic', serif;
    font-size: 58%;
    float: left;
    letter-spacing: .1em;
    margin-left: 30px;
    margin-top: 11px;
		e {
			color: #FBD42C;
		}
}
#seeing1 {
	color: white;
    font-family: 'Didact Gothic', serif;
    font-size: 88%;
    float: left;
    letter-spacing: .1em;
    margin-left: 30px;
    margin-top: 11px;
		e {
			color: #FBD42C;
		}
}
.update {
	color: black;
	float: left;
    margin-bottom: 10px;
    margin-top: 34vh;
    margin-left: -51vw;
    font-size: 168%;
    width: 50vw;
    font-weight: 700;
}
.update2 {
	margin-top: 10vh;
    margin-bottom: 10px;
    width: 40vw;
    margin-left: 54vw;
    color: black;
    font-weight: 700;
    font-size: 160%;
    text-align: left;
}

#article2 {
	height: 36vh;
	width: 33vw;
	padding-top: 0;
	margin-top: -29vh;
	margin-left: 57vw;
	background-image: url("http://news.nationalgeographic.com/content/dam/news/2016/02/21/north_korea_rec/06nkorea.adapt.1190.1.jpg");
	background-size: cover;
	position: absolute;
}

#articleShad2 {
	height: 36vh;
	width: 33vw;
	padding-top: 0;
	margin-top: 13vh;
	margin-left: 60vw;
	background-size: cover;
	background-image: url("http://news.nationalgeographic.com/content/dam/news/2016/02/21/north_korea_rec/01nkorea.ngsversion.1455912232250.adapt.885.1.jpg");
	position: relative;

	#wrapCase {
		height: 36vh;
		width: 33vw;
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.5),transparent);
		background: linear-gradient(to bottom, rgba(0,0,0,0.5),transparent);
	}
}

#article3 {
	height: 35vh;
	width: 30vw;
	padding-top: 0;
	margin-top: 20vh;
	margin-left: 57vw;
	background-image: url("http://news.nationalgeographic.com/content/dam/news/2017/02/03/einstein-violin/01-einstein-violin-genius.adapt.1190.1.jpg");
	background-size: cover;
}

#size1 {
	margin-top: 0;
	padding-right: 0;
	height: 14vh;
	cursor: pointer;
}

#logo {
	height: 13vh;
	width: 15vw;
	background-size: 180px 110px;
	background-image: url("http://logok.org/wp-content/uploads/2014/06/National-Geographic-logo.png");
	margin-top: 0;
	padding-right: 0;
	background-repeat: no-repeat;
	margin-left: 25px;
	margin-top: -9px;
}

.day2 {
	height: 3vh;
	width: 14vw;
	margin-left: 53vw;
	border-right: solid #FBD42C;
	border-left: solid #FBD42C;
	font-size: 102%;
	padding-left: 18px;
	color: white;
	font-family: $font-stack1;
	border-width: 1px;
}

.miniHead {
	height: 4vh;
	width: 40vw;
	margin-left: 52vw;
	font-size: 180%;
	padding-left: 1vw;
	color: white;
	font-family: $font-stack;
	font-weight: 700;
}

.miniHead1 {
	height: 4vh;
	width: 35vw;
	font-size: 160%;
	padding-left: 5vw;
	color: black;
	font-family: $font-stack;
	font-weight: 700;
}

.day1 {
	border-right: solid #FBD42C;
	border-left: solid #FBD42C;
	font-size: 102%;
	padding-left: 18px;
	color: black;
	font-family: $font-stack1;
	height: 3vh;
	width: 14vw;
	margin-left: 5vw;
	margin-top: 20vh;
	border-width: 1px;
}

.mainPic {
	height: 110vh;
	width: 100vw;
	background-image: url("http://yourshot.nationalgeographic.com/u/fQYSUbVfts-T7odkrFJckdiFeHvab0GWOfzhj7tYdC0uglagsDtgUxaRYU5ylUITtYLIzpeL284OUN0OXo37tYU-ZeqXu1Kvm_gE_zrXZHcfzAXXL8KoX83vjjdFpEyQ-NESmQo9opS8DW3-Fxf_mQMy4XKmv7kQwavce4JdM7_fwQ3LIkRCXQbSJrQk9peP-TYIRU_fbzVixbaVROIcZDOFDkKk/");
	float: left;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.seeAll {
	color: white;
	float: right;
	font-size: 109%;
	margin-right: 6vw;
	margin-top: 6vh;
	letter-spacing: 0.2em;
	font-weight: 500;

	e {
		color: #FBD42C;
		font-size: 120%;
	}
}

#wrapCase {
	width: 100vw;
	height: 30vh;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5),transparent);
	background: linear-gradient(to bottom, rgba(0,0,0,0.5),transparent);
}

.photoDay {
	font-size: 425%;
	font-weight: 10;
	color: white;
	font-family: 'Didact Gothic', serif;
	width: 100vw;
	margin-left: 3vw;
	height: 12vh;
	border-left: solid white;
	border-width: 1px;
	padding-left: 3vw;
	padding-top: 3vh;
	letter-spacing: 0.2em;
	font-weight: lighter;
	/* opacity: .7; */
	height: 14vh;
}

.mainPic:hover {
	.photoDay {
		visibility: hidden;
	}
}

.topStories {
	height: 108vh;
	width: $full-screen;
	background-color: black;
	float: left;
}

.topTitle {
	float: left;
	height: 16vh;
	width: 60vw;
	color: white;
	font-size: 408%;
	border-left: solid #FBD42C;
	border-width: 1px;
	margin-left: 8vw;
	padding-left: 4vw;
	padding-top: 5vh;
	margin-bottom: 3vh;
	letter-spacing: 0.1em;
}

.column {
	height: 80vh;
	float: right;
	width: 18vw;
	margin-right: 5vw;

	ul {
		font-family: $font-stack1;
		font-weight: 400;
		height: 20vh;
		width: 18vw;
		color: white;
		text-align: center;
		padding-top: 6vh;
		padding-left: 1vw;
		opacity: 0.5;
	}

	ul:hover {
		opacity: 1;
	}
}

#first {
	background-image: url("http://ngm.nationalgeographic.com/2011/12/tigers/img/14-mother-rests-with-cub_1600.jpg");
	background-size: cover;
}

#second {
	background-image: url("http://pmdvod.nationalgeographic.com/NG_Video/500/643/170331-badger-burying-calf-carcass-vin_ds1702001-110_640x360_911064131569.jpg");
	background-size: cover;
}

#third {
	background-image: url("http://ocean.nationalgeographic.com/u/TvyamNb-BivtNwpvn7Sct0VFDulyAfA9wBcU0gVHVnqC5ghvXfvStoqUtoGJeihxsbLUAFwyunZ9yshcWos/");
	background-size: cover;
}

#fourth {
	background-image: url("http://phenomena.nationalgeographic.com/files/2013/08/Salmonella.jpg");
	background-size: cover;
}

#desc {
	background-color: lightgrey;
	float: left;
	height: 25vh;
	width: 62vw;
	margin-left: 15vw;
	color: white;
	font-size: 200%;
	padding-right: 5vw;
	padding-top: 7vh;

	p {
		font-size: 60%;
	}
}

#play {
	height: 75vh;
	width: 60vw;
	border: solid white;
	margin-top: 25vh;
	margin-left: 12vw;
}

#news {
	height: 250vh;
	width: $full-screen;
	float: left;
	background-color: #222222;
}
.contain5 {
height: 100vh;
width: 40vw;
background-color: blue;
}
.skinny {
	width: 37vw;
    height: 200vh;
    float: left;
    margin-left: 5vw;
    margin-top: 12vh;
		h1 {
			border-left: solid #FBD42C;
    height: 15vh;
    padding-left: 3vw;
    font-size: 405%;
    letter-spacing: .1em;
    color: white;
    font-family: 'Didact Gothic', serif;
		margin-bottom: 0px;
		border-width: 1px;
		}
}
.containList {
	background-color: black;
	height: 197vh;
	width: 37vw;

	ul {
		height: 25vh;
		width: 33vw;
		float: right;
		padding-left: 0px;
	}

}
#first1 {
	height: 50vh;
	width: 33vw;
	float: right;
	margin-top: 5vh;
h5 {
		border-left: solid white;
	    border-right: solid white;
	    border-width: 1px;
	    font-size: 80%;
	    font-family: 'Arimo';
	    width: 145px;
	    padding-left: 1vw;
	    padding-right: 1vw;
			color: white;
			letter-spacing: .1em;
	}
h3 {
	font-size: 200%;
	color: white;
	font-family: 'Arimo';
	font-weight: 900;
	margin-bottom: 2vh;

}
p {
	float: right;
	font-size: 600%;
	color: $Nat-color;
	margin-top: 20vh;
	margin-bottom: 0px;
}
}
#firstPic {
height: 31vh;
width: 33vw;
background-image: url(http://www.nationalgeographic.com/content/dam/photography/PROOF/2017/march/transinistra/02_transinistria.ngsversion.1490675403325.adapt.1900.1.jpg);
background-size: 422px 320px;
background-repeat: no-repeat;
float: right;
}
#second1 {
	.covering {
		height: 20vh;
    width: 20vw;
    float: left;
    border-bottom:1px solid grey;
		border-top: 1px solid grey;
    padding-left: 0px;
    margin-left: 0;

	}
	h5 {
		border-left: solid white;
	    border-right: solid white;
	    border-width: 1px;
	    font-size: 80%;
	    font-family: 'Arimo';
	    width: 145px;
	    padding-left: 1vw;
	    padding-right: 1vw;
			color: white;
			letter-spacing: .1em;
			margin-top: 3vh;
	}
	h3 {
		font-size: 130%;
		font-family: 'Arimo';
		font-weight: 700;
		margin-bottom: 2vh;
		color: white;
		width: 19vw;
	}
	p {
		float: right;
		font-size: 600%;
		color: $Nat-color;
		margin-top: 10vh;
		margin-bottom: 0px;
	}
}
#third1{

		.covering {
			height: 20vh;
	    width: 20vw;
	    float: left;
	    border-bottom:1px solid grey;
	    padding-left: 0px;
	    margin-left: 0;

		}
		h5 {
			border-left: solid white;
		    border-right: solid white;
		    border-width: 1px;
		    font-size: 80%;
		    font-family: 'Arimo';
		    width: 145px;
		    padding-left: 1vw;
		    padding-right: 1vw;
				color: white;
				letter-spacing: .1em;
				margin-top: 3vh;
		}
		h3 {
			font-size: 130%;
			font-family: 'Arimo';
			font-weight: 700;
			margin-bottom: 2vh;
			color: white;
			width: 19vw;
		}
		p {
			float: right;
			font-size: 600%;
			color: $Nat-color;
			margin-top: 10vh;
			margin-bottom: 0px;
		}
}
#fourth1{
	.covering {
		height: 20vh;
    width: 20vw;
    float: left;
    border-bottom:1px solid grey;
    padding-left: 0px;
    margin-left: 0;

	}
	h5 {
		border-left: solid white;
	    border-right: solid white;
	    border-width: 1px;
	    font-size: 80%;
	    font-family: 'Arimo';
	    width: 145px;
	    padding-left: 1vw;
	    padding-right: 1vw;
			color: white;
			letter-spacing: .1em;
			margin-top: 3vh;
	}
	h3 {
		font-size: 130%;
		font-family: 'Arimo';
		font-weight: 700;
		margin-bottom: 2vh;
		color: white;
		width: 19vw;
	}
	p {
		float: right;
		font-size: 600%;
		color: $Nat-color;
		margin-top: 10vh;
		margin-bottom: 0px;
	}
}
#fifth1{
		.covering {
			height: 20vh;
	    width: 20vw;
	    float: left;
	    border-bottom:1px solid grey;
	    padding-left: 0px;
	    margin-left: 0;

		}
		h5 {
			border-left: solid white;
		    border-right: solid white;
		    border-width: 1px;
		    font-size: 80%;
		    font-family: 'Arimo';
		    width: 145px;
		    padding-left: 1vw;
		    padding-right: 1vw;
				color: white;
				letter-spacing: .1em;
				margin-top: 3vh;
		}
		h3 {
			font-size: 130%;
			font-family: 'Arimo';
			font-weight: 700;
			margin-bottom: 2vh;
			color: white;
			width: 19vw;
		}
		p {
			float: right;
			font-size: 600%;
			color: $Nat-color;
			margin-top: 10vh;
			margin-bottom: 0px;
		}
}
#sixth1 {
	.covering {
		height: 20vh;
		width: 20vw;
		float: left;
		border-bottom:1px solid grey;
		padding-left: 0px;
		margin-left: 0;

	}
	h5 {
		border-left: solid white;
			border-right: solid white;
			border-width: 1px;
			font-size: 80%;
			font-family: 'Arimo';
			width: 145px;
			padding-left: 1vw;
			padding-right: 1vw;
			color: white;
			letter-spacing: .1em;
			margin-top: 3vh;
	}
	h3 {
		font-size: 130%;
		font-family: 'Arimo';
		font-weight: 700;
		margin-bottom: 2vh;
		color: white;
		width: 19vw;
	}
	p {
		float: right;
		font-size: 600%;
		color: $Nat-color;
		margin-top: 10vh;
		margin-bottom: 0px;
	}
}
.numba {
	margin-right: 5vw;
}
.fatty {

    width: 50vw;
    height: 180vh;
    float: right;
    margin-right: 5vw;
    margin-top: 12vh;
		h1 {
			border-left: solid #FBD42C;
    height: 15vh;
    padding-left: 3vw;
    font-size: 405%;
    letter-spacing: .1em;
    color: white;
    font-family: 'Didact Gothic', serif;
		margin-bottom: 0px;
		border-width: 1px;
		}
		h3 {
			color: white;
			font-weight: 900;
			font-family: 'Arimo';

		}
}
.fatPic {
	background-image: url(http://news.nationalgeographic.com/content/dam/news/2017/04/11/rivers/1-NationalGeographic_1048916.ngsversion.1491885003900.adapt.885.1.jpg);
	height: 70vh;
	width: 50vw;
	background-size: cover;
	background-repeat: no-repeat;

}
.fatPic2 {
	background-image: url(https://i.ytimg.com/vi/WLVOVzH2rvc/maxresdefault.jpg);
	height: 70vh;
	width: 50vw;
	background-size: cover;
	background-repeat: no-repeat;

}
.fatPic3{
background-image: url(http://news.nationalgeographic.com/content/dam/news/2017/04/10/mariana-trench/02-mariana-trench-serpentine-2.ngsversion.1491857502928.adapt.885.1.jpg);
height: 25vh;
width: 25vw;
background-size: cover;
background-repeat: no-repeat;
float: left;
}
.fatPic4{
background-image: url(http://news.nationalgeographic.com/content/dam/news/2015/09/17/okavango/01okavango.ngsversion.1491851167704.adapt.885.1.jpg);
height: 25vh;
width: 25vw;
background-size: cover;
background-repeat: no-repeat;
float: right;
}
.bottomTitle {
	height: 15vh;
	width: 50vw;
	margin-top: 2vh;
	float: left;
	 h4 {
		 width: 25vw;
		 color: white;
		 float: left;
		 font-weight: 900;
		 font-family: 'Arimo';

	 }

}

.newest {
	font-size: 400%;
	border-left: solid #FBD42C;
	border-left-width: 1px;
	height: 15vh;
	width: 50vw;
	padding-left: 5vw;
	float: left;
	color: white;
	margin-top: 10vh;
	letter-spacing: 0.1em;
}

.wrapper3 {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/81/61/38/816138fb8a5d251cd16a9407786a0d1b.jpg");
	background-size: cover;
	height: 90vh;
	width: $full-screen;
	float: left;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	div {
		height: 20vh;
		width: 25vw;
	}

	h {
		height: 10vw;
	}
}

#box1 {
	float: left;
	height: 45vh;
	width: 30vw;
	background-color: #222222;
	opacity: 0.6;
}

#box2 {
	margin-top: 50vh;
	float: right;
	height: 45vh;
	width: 30vw;
	background-color: #222222;
	opacity: 0.6;
}

#box3 {
	margin-top: 40vh;
	margin-left: 35vw;
	height: 7vh;
	width: 30vw;
	font-size: 340%;
	padding-left: 5vw;
	border-left: solid #FBD42C;
	border-width: 2px;
	color: white;
	letter-spacing: 0.1em;
}
/*FOOTER*/
////////////////////////////

.footer {
	height: 55vh;
	width: 100vw;
	background-color: #F2F2F2;
	float: left;

	input {
		border-style: none;
		height: 4vh;
		margin-top: 12px;
		margin-left: 22px;
		font-size: 60%;
		font-family: 'Arimo';
		font-weight: 700;
		letter-spacing: 0.1em;
		width: 30vw;
	}

	button {
		background-color: black;
		font-size: 70%;
		color: white;
		border-style: none;
		padding-left: 60px;
		font-family: 'Arimo';
		margin-top: 2vh;
	}

	p {
		margin-top: 2vh;
		float: left;
		width: 51vw;
		margin-left: 5vw;
		font-size: 85%;
		color: grey;
	}

	#rebel {
		margin-top: 5vh;
		margin-bottom: -2vh;
	}
}

#lefty {
	width: 45vw;
	float: left;
	margin-left: 5vw;
	margin-top: 10vh;
	height: 15vh;
	border-left: solid black;
	border-width: 1px;
	font-size: 165%;
	padding-left: 2vw;
	height: 18vh;
	font-family: 'Arimo';
	font-weight: lighter;
	letter-spacing: 0.1em;
}

#righty {
	float: right;
	width: 35vw;
	margin-top: 10vh;
	height: 15vh;
	border-left: solid black;
	border-width: 1px;
	font-size: 165%;
	letter-spacing: 0.1em;
	padding-left: 2vw;
	font-family: 'Arimo';

	.icons {
		height: 10vh;
		width: 15vw;

		span {
			height: 6vh;
			width: 35px;
			float: left;
			margin-right: 21px;
			margin-top: 4vh;
		}
	}
}

#firstIcon {
	background-image: url("http://simpleicon.com/wp-content/uploads/facebook.png");
	background-size: 35px 31px;
	background-repeat: no-repeat;
}

#secondIcon {
	background-image: url("http://vet.osu.edu/vmc/sites/default/files/images/twitter-1024-black.png");
	background-size: cover;
}

#thirdIcon {
	background-image: url("https://maxcdn.icons8.com/windows10/PNG/512/Logos/instagram_new-512.png");
	background-size: cover;
}

.email {
	height: 6vh;
	width: 30vw;
	margin-left: 0;
	margin-top: 3vh;
}

button {}

.holdingCell {
	height: 8vh;
	width: 50vw;
	background-color: white;
}

.holdingButton {
	background-color: black;
	height: 8vh;
	width: 15vw;
	float: right;
}

.extraLinks {
	height: 8vh;
	width: 29vw;
	float: right;
	position: bottom;
	margin-right: 6vw;
	margin-top: -9vh;
	font-color: grey;

	span {
		padding-right: 28px;
		color: grey;
		letter-spacing: 0.1em;
		font-size: 90%;
	}
}
/*NEXT VIEW*/
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.ad {
	height: 100vh;
	width: 23vw;
	background-color: blue;
	float: right;
	margin-right: 8vw;
	margin-top: 26vh;

	div {
		height: 45vh;
		width: 23vw;
		background-color: red;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.feed {
	float: left;
	height: 350vh;
	width: 50vw;
	margin-left: 10vw;
	margin-top: 10vh;

	h1 {
		font-size: 400%;
		letter-spacing: 0.2em;
	}

	.mainArt {
		height: 70vh;
		width: 52vw;
		background-size: cover;
		background-image: url("http://yourshot.nationalgeographic.com/u/ss/fQYSUbVfts-T7pS2VP2wnKyN8wxywmXtY0-FwsgxoQ2zIoY5HRyKo7El90Mt5I6SzKAxEtrjXdEQvhlXkIAV/");
	}
}

.miniArt {
	height: 55vh;
	width: 52vw;
	margin-top: 3vh;
}

.miniWords {
	float: right;
	height: 54vh;
	width: 19vw;

	ul {
		border-left: solid black;
		border-right: solid black;
		border-width: 1px;
		width: 11vw;
		padding-left: 2vw;
		font-size: 108%;
		margin-top: 6vh;
		font-family: 'Arimo';
	}

	h4 {
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		margin-bottom: 4vh;
	}

	p {
		font-size: 100%;
	}
}

.miniPic {
	height: 54vh;
	width: 31vw;
	background-image: url("http://news.nationalgeographic.com/content/dam/news/2017/04/05/frog-ecuador/01-new-frog-species-ecuador.adapt.1190.1.jpg");
	background-size: 394px 312px;
	background-repeat: no-repeat;
}

.showMore {
	height: 8vh;
	width: 50vw;
	border: solid black;
	text-align: center;
	padding-top: 10px;
	font-weight: 700;
	border-width: 1px;
	margin-top: 5vh;
}

.direct {
	height: 38vh;
	width: 94vw;
	margin-bottom: 10vh;
	float: left;
	margin-left: 3vw;

	div {
		height: 38vh;
		width: 20vw;
		float: left;
		margin-right: 2vw;
		margin-left: 1vw;
	}

	h5 {
		font-size: 14px;
		padding-left: 3vw;
		font-family: 'Bitter';
		margin-bottom: 3vh;
		letter-spacing: 0.2em;
	}

	ul {
		font-weight: 700;
		padding-left: 6vw;
		margin-top: 5vh;
		text-decoration: underline;
		text-decoration-color: #FBD42C;
	}
}

.whiteSpace {
	height: 24vh;
	background-color: white;
	width: 16vw;
	float: left;
	position: relative;
	border-bottom: solid lightgrey;
	border-width: 2px;
	margin-left: 40vw;
	margin-bottom: 10vh;
}

#littleTitle1 {
	padding-left: 4vw;
}

#littleTitle2 {
	padding-left: 4vw;
}

#littleTitle3 {
	padding-left: 0;
	text-align: center;
}

#miniLink1 {
	padding-left: 46px;
}

#miniLink2 {}


/*NEXT VIEW */
///////////////////////////////////

.feed2 {
	float: left;
	height: 180vh;
	width: 50vw;
	margin-left: 16vw;
	margin-top: 15vh;

	.mainArt {
		height: 70vh;
		width: 47vw;
		background-size: cover;
		background-image: url("http://yourshot.nationalgeographic.com/u/fQYSUbVfts-T7odkrFJckdiFeHvab0GWOfzhj7tYdC0uglagsDtgWr5l_X5wE0gOV1MUb2fQ0IEWA_6cY9pUVPCA0297pke5t_xU4wdEj6Ob9eyyoPOsUv9R4rqlASGCXtnuSpJJfaaD5TsFWiD7sz4rIrraLLdlC9uXZXN8XYRNKH76UCDGl2MRn68iWDiWH3JXcb-MDEF0xWNqOT25-CMe6DZnnfk/");
	}

	.picInfo {
		margin-top: 5vh;
		height: 55vh;
		width: 45vw;
		border-left: solid black;
		border-width: 1px;
		padding-left: 2vw;
	}

	h5 {
		color: grey;
		letter-spacing: 0.1em;
		font-size: 90%;
	}

	p {
		font-size: 110%;
	}

	#starting {
		font-weight: 700;
		font-size: 110%;
		letter-spacing: 0.1em;
	}

	#btmMargin {
		margin-top: 7vh;
		color: grey;
		font-size: 90%;
	}
	h1 {
		font-weight: 700;
font-size: 350%;
margin-left: -3vw;
margin-top: 0vh;
margin-bottom: 3vh;
	}
}
.commentBar {
	height: 10vh;
	width: 15vw;
	border: solid black;
	border-width: 1px;
	float: left;
	margin-top: 10vh;
	font-family: 'Bitter' serif;
	font-weight: 400;


	#bubble {
		height: 10vh;
		width:5vw;
		background-image: url(https://cdn0.iconfinder.com/data/icons/communication-technology/500/speech-bubble-512.png);
		float: left;
		background-size: cover;
	}
	#comment {
		font-size: 140%;
    margin-top: 16px;
    float: left;
	}
}
.adFiller {
	width: 100vw;
	height: 20vh;
	background-color: #e4e4e4;
	float: left;
}
.photoTitle {
	float: left;
	margin-top: 10vh;
	margin-left: 10vw;
	font-family: 'Arimo';
	font-weight: 600;
	letter-spacing: .1em;
}
.wrapDay {
	float: left;
	width: 84vw;
	height: 70vh;

	margin-top: 2vh;
	margin-left: 10vw;

div {
	width: 25vw;
	height: 65vh;
	float: left;
	margin-left: 2vw;
	margin-top: 5vh;

}
}
/*This is one of the main outlines for pic/vid title then heading remember code.*/
#firstBox {
.janPic {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(http://www.nationalgeographic.com/content/dam/photography/rights-exempt/your-shot/best-pod-jan-01.adapt.1190.1.jpg);
	height: 35vh;
	width: 25vw
}
.hermitStry {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(http://news.nationalgeographic.com/content/dam/news/2017/04/04/book-talk-hermit/01-book-talk-hermit-north-pond.adapt.1190.1.jpg);
	height: 35vh;
	width: 25vw
}
.scotStry {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/05/Scottish-Moors/1-scottish-moors-scotland-terrain-conservation-land.adapt.1190.1.jpg);
	height: 35vh;
	width: 25vw
}
.cheadleStry {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(http://ecowarriorprincess.net/wp-content/uploads/2016/11/Don-Cheadle-Years-of-Living-Dangerously-National-Geographic-810x540.jpg);
	height: 50vh;
	width: 35vw;
	float: left;
}

h3 {
	font-weight: 600;
	font-family: 'Arimo';
}
p{
	border-left: solid black;
	border-width: 1px;
	padding-left: 2vw;
}
}
/*THIS IS THE NEXT MAIN DIV OUTLINE*///////////////////////////////////////////
#secondBox {
	.decPic {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(http://www.nationalgeographic.com/content/dam/photography/rights-exempt/your-shot/best-pod-dec-05.ngsversion.1483554705193.adapt.1900.1.jpg);
		height: 35vh;
		width: 25vw
	}
	.lionStry {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(http://photonaturalist.net/wp-content/uploads/2011/12/LastLions_18.jpeg);
		height: 35vh;
		width: 25vw
	}
	.powderStry {
		background-size: 320px 225px;
		background-repeat: no-repeat;
		background-image: url(http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/05/Departments/Explore/Egyptian-blue_cropped.ngsversion.1490115267040.adapt.885.1.jpg);
		height: 35vh;
		width: 25vw
	}
	.migrantStry {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(http://news.nationalgeographic.com/content/dam/news/photos/legacy-new/85055_990x742-cb1414416640.jpg);
		height: 50vh;
		width: 35vw;
		float: left;
	}
	h3 {
		font-weight: 600;
		font-family: 'Arimo';
	}
	p{
		border-left: solid black;
		border-width: 1px;
		padding-left: 2vw;
	}
}
#thirdBox {
	.bestPic {
		background-size: 320px 225px;
		background-repeat: no-repeat;
		background-image: url(http://www.nationalgeographic.com/content/dam/photography/rights-exempt/your-shot/best-pod-2016-07b.ngsversion.1481034984962.adapt.885.1.jpg);
		height: 35vh;
		width: 25vw
	}
	.spiderStry {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(http://news.nationalgeographic.com/content/dam/news/2017/04/07/tree-crab/tree-crab-discovery-2.adapt.1190.1.jpg);
		height: 35vh;
		width: 25vw
	}
	.waterStry {
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/04/Departments/Field-Notes/STOCK_KJ16063.ngsversion.1491451275477.adapt.1900.1.jpg);
		height: 35vh;
		width: 25vw
	}
	h3 {
		font-weight: 600;
		font-family: 'Arimo';
	}
	p{
		border-left: solid black;
		border-width: 1px;
		padding-left: 2vw;
	}
}
/*NEXT VIEW*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#theBigg {
	font-family: 'Arimo', serif;
font-size: 460%;
margin-top: 10vh;
margin-bottom: 4vh;
height: 12vh;
width: 90vw;
float: left;
letter-spacing: .2em;
margin-left: 10vw;
font-weight: 100;
}
.bigPic {
	background-image: url(http://news.nationalgeographic.com/content/dam/news/rights-exempt/your-shot/my-climate-action/7021381_Plastic_Waste.adapt.1190.1.jpg);
	text-align: center;
	height: 100vh;
	width: $full-screen;
	background-size: 100vw 110vh;
	background-repeat: no-repeat;
	float: left;
	color: white;
	h2 {
		width: 46vw;
    height: 15vh;
    font-weight: 700;
    font-family: 'Arimo';
    margin-top: 35vh;
    margin-left: 27vw;
    margin-bottom: 1vh;
    font-size: 288%;
	}
	p {
		width: 31vw;
font-family: 'Didact Gothic', serif;
font-weight: 600;
margin-left: 35vw;

	}
}
.newFiller {
	height: 2vh;
	width: 100vw;
	float: left;
	background-color: #F2F2F2;
}
.seriesWrap {
	height: 120vh;
	width: $full-screen;
	background-color: white;
	float: left;
}
.containSeries {
	margin-left: 10vw;
	margin-right: 10vw;
	height: 120vh;
	width: 80vw;

#newVid {
	width: 51vw;
height: 60vh;
background-image: url(http://geekologie.com/2015/12/07/bill-nye-climate-change.jpg);
background-size: cover;

margin-right: 2vw;
float: left;
margin-bottom: 4vh;
}
#scrollVid {
	width: 25vw;
    height: 70vh;
    float: right;
		background: linear-gradient(to bottom, rgba(250, 246, 244, 0), opacity .5);
ul {
	height: 15vh;
	width: 23vw;
	border-top: solid grey;
	border-bottom: solid grey;
	border-width: 1px;
	margin: 0px;
	padding-left: 0px;
	margin-right: 0px;
	float: left;

}
}
h3 {
	margin-bottom: 3vh;
	font-weight: 900;
	font-family: 'Didact Gothic', serif;
	letter-spacing: .2em;
	}
	p {
		margin-bottom: 5vh;
		font-size: 110%;
	}
e {
	margin-left: 35vw;
	text-decoration: underline;
	text-decoration-color: $Nat-color;
	font-size: 125%;
	font-weight: 900;
	font-family: 'Didact Gothic', serif;
	letter-spacing: .1em;
}
h4 {
	font-weight: 900;
	font-family: 'Arimo', serif;
	margin-top: 3vh;
	margin-botom: 3vh;
	height: 70vh;
	font-size: 170%;
}
#changeInfo {
	width: 48vw;
border-left: solid black;
border-width: 1px;
padding-left: 3vw;
}
}
#uno {
	height: 60px;
width: 120px;
background-image: url(http://geekologie.com/2015/12/07/bill-nye-climate-change.jpg);
background-size: cover;
margin-top: 15px;
float: left;
margin-left: 15px;
}
.squareAlign {
	width: 9vw;
	 margin-top: 27px;
	 margin-left: 146px;
	 font-weight: 700;
}
#does {
	height: 60px;
width: 120px;
background-image: url(http://geekologie.com/2015/12/07/bill-nye-climate-change.jpg);
background-size: cover;
margin-top: 15px;
float: left;
margin-left: 15px;
}
#tres {
	height: 60px;
width: 120px;
background-image: url(http://geekologie.com/2015/12/07/bill-nye-climate-change.jpg);
background-size: cover;
margin-top: 15px;
float: left;
margin-left: 15px;
}
#quatro {
	height: 60px;
width: 120px;
background-image: url(http://geekologie.com/2015/12/07/bill-nye-climate-change.jpg);
background-size: cover;
margin-top: 15px;
float: left;
margin-left: 15px;
}
#cinco {
	height: 60px;
width: 120px;
background-image: url(http://geekologie.com/2015/12/07/bill-nye-climate-change.jpg);
background-size: cover;
margin-top: 15px;
float: left;
margin-left: 15px;
}
.magCase {
	float: left;
	height: 107vh;
	h1 {
		letter-spacing: .2em;
font-size: 333%;
margin-left: 26vw;
font-family: 'Didact Gothic', serif;
margin-top: 10vh;
	}
	#seeMore {
		margin-top: 8vh;
    margin-left: 42vw;
    font-size: 125%;
    text-decoration: underline;
		text-decoration-color: $Nat-color;
    font-family: 'Didact Gothic', serif;
    font-weight: 700;
		letter-spacing: .1em;
	}
}
.wrapDay1 {
	float: left;
	width: 84vw;
	height: 70vh;

	margin-top: 2vh;
	margin-left: 8vw;

div {
	width: 25vw;
	height: 65vh;
	float: left;
	margin-left: 2vw;
	margin-top: 5vh;

}
}
.yearsCase {
float: left;
height: 130vh;
width: $full-screen;

h1 {
	letter-spacing: .2em;
font-size: 333%;
margin-left: 13vw;
font-family: 'Didact Gothic', serif;
margin-top: 10vh;
}
#seeMore {
	margin-top: 8vh;
	margin-left: 37vw;
	font-size: 125%;
	text-decoration: underline;
	text-decoration-color: $Nat-color;
	font-family: 'Didact Gothic', serif;
	font-weight: 700;
	letter-spacing: .1em;
}

}
.wrapDay2 {
	float: left;
	width: 84vw;
	height: 70vh;

	margin-top: 2vh;
	margin-left: 8vw;

#firstBox {
	width: 25vw;
	height: 65vh;
	float: left;
	margin-left: 5vw;
	margin-top: 5vh;

}
#secondBox {
	width: 25vw;
	height: 65vh;
	float: left;
	margin-left: 13vw;
	margin-top: 5vh;
}

}
.yourShot {
	height: 100vh;
	width: 100vw;
	background-color: white;
	float: left;
	h1 {
		font-family: 'Didact Gothic';
		font-weight: 700;
		margin-left: 44vw;
		}
}
.casePics {
	height: 80vh;
	width: 80vw;
	background-color: white;
	float: left;
	margin-left: 10vw;
	margin-top: 10vh;
	div {
		border-radius: 10px 10px 10px 10px;
	}
	#pics1 {
		float: left;
		height:45vh;
		width: 20vw;
		border: solid black;
		margin-right: 2vw;
	}
	#pics2 {
		float: left;
		height: 25vh;
		width: 15vw;
		border: solid black;
		margin-right: 2vw;
	}
	#pics3 {
		float: left;
    height: 20vh;
    width: 15vw;
    border: solid black;
    margin-right: 2vw;
	}
	#pics4 {
		float: left;
    height: 35vh;
    width: 24vw;
    border: solid black;
	}
	#titleShot {
		float: right;
height: 15vh;
width: 25vw;
border: solid black;
position: absolute;
margin-top: 30vh;
margin-left: 22vw;
	}
	#pics5  {
		float: right;
		height: 40vh;
		width: 30vw;
		border: solid black;
		margin-top: 5vh;
	}
	#pics6 {
		float: right;
    height: 25vh;
    width: 20vw;
    border: solid black;
    margin-right: 2vw;
    margin-top: 20vh
	}
	#pics7 {
		float: right;
height: 32vh;
width: 26vw;
border: solid black;
margin-right: 2vw;
margin-top: 3vh
	}

}
